@charset "utf-8";


/* ======================================================================================== */
/* Normalize */
/* ======================================================================================== */
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body, h1, h2, h3, h4, h5, h6, p, img {margin: 0; padding: 0;}
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
img {border: 0;}
table {border-collapse: collapse; border-spacing: 0;}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {display: block;}
audio, canvas, video {display: inline-block;}
audio:not([controls]) {display: none; height: 0;}
[hidden] {display: none;}


/* ======================================================================================== */
/* Global */
/* ======================================================================================== */
body {
  background: #fff url(../img/bkg-panels.jpg) no-repeat 50% 0; /*1e365c*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  color: #fffef2;
}

/* Global Classes */
.clear {clear: both;}
.group:before,
.group:after {content: ""; display: table;}
.group:after {clear: both;}
.group {*zoom: 1;}

/* Global Headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.25em;
  font-weight: normal;
  color: #444;
}
h1 {font-size: 2.0em;}

/* Global Links */
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {outline: 0;}


/* ======================================================================================== */
/* Main */
/* ======================================================================================== */
.main {
  width: 477px;
  min-height: 768px;
  margin: 0 auto;
  padding: 0 18px;
}
.main-content {
  width: 441px;
  min-height: 768px;
  margin: 0;
  background: url(../img/bkg-mid.png) no-repeat;
}
.logo {
  margin: -292px 0 54px 115px;
  background: url(../img/logo.png) no-repeat;
}
.logo a {
  display: block;
  width: 213px;
  height: 147px;
}
.nav {
  width: 477px;
  margin: 0 -18px;
}
.nav ul {
  width: 477px;
  padding: 0;
  list-style: none;
}
.nav li {
  width: 477px;
  height: 81px;
  margin: -1000px 0 0;
  background: url(../img/stripe.png) no-repeat;
}
.nav a {
  display: block;
  padding: 32px 0 0 0px;
  font-size: 1.0625em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fffef2;
}
.ribbon-01 a {
  font-size: 1.125em;
}


/* ======================================================================================== */
/* END OF LINE */
/* ======================================================================================== */

